<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DeluxeBagPinkTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,434},{159,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{159,76}}</string>
                <key>sourceSize</key>
                <string>{161,78}</string>
            </dict>
            <key>DeluxeBagTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{381,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{381,55}}</string>
                <key>sourceSize</key>
                <string>{381,55}</string>
            </dict>
            <key>DeluxeIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,208},{224,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{224,146}}</string>
                <key>sourceSize</key>
                <string>{226,146}</string>
            </dict>
            <key>DeluxeIconL.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,59},{25,134}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{25,134}}</string>
                <key>sourceSize</key>
                <string>{33,144}</string>
            </dict>
            <key>DeluxeIconR.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,86},{31,130}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,8},{31,130}}</string>
                <key>sourceSize</key>
                <string>{33,144}</string>
            </dict>
            <key>bombBagPinkTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{161,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{161,76}}</string>
                <key>sourceSize</key>
                <string>{161,78}</string>
            </dict>
            <key>bombBagTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,59},{244,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,55}}</string>
                <key>sourceSize</key>
                <string>{244,55}</string>
            </dict>
            <key>bombIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,119},{109,111}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{109,111}}</string>
                <key>sourceSize</key>
                <string>{111,117}</string>
            </dict>
            <key>closeBt.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,119},{20,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,16}}</string>
                <key>sourceSize</key>
                <string>{20,16}</string>
            </dict>
            <key>freezeBagPinkTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,393},{161,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,78}}</string>
                <key>sourceSize</key>
                <string>{161,78}</string>
            </dict>
            <key>freezeBagTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{198,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,54}}</string>
                <key>sourceSize</key>
                <string>{198,54}</string>
            </dict>
            <key>freezeIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,230},{83,111}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,4},{83,111}}</string>
                <key>sourceSize</key>
                <string>{111,117}</string>
            </dict>
            <key>healthBagPinkTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,315},{159,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{159,76}}</string>
                <key>sourceSize</key>
                <string>{161,78}</string>
            </dict>
            <key>healthBagTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{197,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,54}}</string>
                <key>sourceSize</key>
                <string>{197,54}</string>
            </dict>
            <key>healthIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,2},{122,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{122,103}}</string>
                <key>sourceSize</key>
                <string>{124,103}</string>
            </dict>
            <key>pickUpBt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{195,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,70}}</string>
                <key>sourceSize</key>
                <string>{195,70}</string>
            </dict>
            <key>shieldBagPinkTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{161,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,78}}</string>
                <key>sourceSize</key>
                <string>{161,78}</string>
            </dict>
            <key>shieldBagTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{244,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,54}}</string>
                <key>sourceSize</key>
                <string>{244,54}</string>
            </dict>
            <key>shieldIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,107},{99,113}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{99,113}}</string>
                <key>sourceSize</key>
                <string>{111,117}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GiftBoxLayerRes.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84a4539a60c40c2cb7a7179a6ee4a5b0:1/1$</string>
            <key>textureFileName</key>
            <string>GiftBoxLayerRes.png</string>
        </dict>
    </dict>
</plist>
