<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mainMenu_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{1288,728}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1288,728}}</string>
                <key>sourceSize</key>
                <string>{1288,728}</string>
            </dict>
            <key>mainMenu_sound_button_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,1296},{106,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,99}}</string>
                <key>sourceSize</key>
                <string>{106,99}</string>
            </dict>
            <key>mainMenu_sound_button_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1296},{106,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,99}}</string>
                <key>sourceSize</key>
                <string>{106,99}</string>
            </dict>
            <key>start_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1296},{188,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,188}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainMenuUI.png</string>
            <key>size</key>
            <string>{736,1488}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd4d772a3f70813cb781230bd13d0443:1/1$</string>
            <key>textureFileName</key>
            <string>mainMenuUI.png</string>
        </dict>
    </dict>
</plist>
