<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>alphaDEast1.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,82},{38,78}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{38,78}}</string>
                <key>sourceSize</key>
                <string>{58,78}</string>
            </dict>
            <key>alphaDEast2.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,2},{42,74}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{42,74}}</string>
                <key>sourceSize</key>
                <string>{58,78}</string>
            </dict>
            <key>alphaDNorth1.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,78},{42,74}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{42,74}}</string>
                <key>sourceSize</key>
                <string>{58,78}</string>
            </dict>
            <key>alphaDNorth2.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,150},{42,72}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{42,72}}</string>
                <key>sourceSize</key>
                <string>{58,78}</string>
            </dict>
            <key>alphaDNorthEastToEast1.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{42,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{42,74}}</string>
                <key>sourceSize</key>
                <string>{58,78}</string>
            </dict>
            <key>alphaDNorthEastToEast2.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,78},{42,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{42,74}}</string>
                <key>sourceSize</key>
                <string>{58,78}</string>
            </dict>
            <key>alphaDNorthEastToNorth1.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,76},{42,72}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{42,72}}</string>
                <key>sourceSize</key>
                <string>{58,78}</string>
            </dict>
            <key>alphaDNorthEastToNorth2.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,76},{46,72}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{46,72}}</string>
                <key>sourceSize</key>
                <string>{58,78}</string>
            </dict>
            <key>alphaDSouth1.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{38,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{38,78}}</string>
                <key>sourceSize</key>
                <string>{58,78}</string>
            </dict>
            <key>alphaDSouth2.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,80},{38,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{38,76}}</string>
                <key>sourceSize</key>
                <string>{58,78}</string>
            </dict>
            <key>alphaDSouthEastToEast1.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{38,78}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{38,78}}</string>
                <key>sourceSize</key>
                <string>{58,78}</string>
            </dict>
            <key>alphaDSouthEastToEast2.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,82},{40,78}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{40,78}}</string>
                <key>sourceSize</key>
                <string>{58,78}</string>
            </dict>
            <key>alphaDSouthEastToSouth1.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,76},{40,72}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{40,72}}</string>
                <key>sourceSize</key>
                <string>{58,78}</string>
            </dict>
            <key>alphaDSouthEastToSouth2.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,2},{42,72}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{42,72}}</string>
                <key>sourceSize</key>
                <string>{58,78}</string>
            </dict>
            <key>alphaMEast1.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,80},{42,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{42,76}}</string>
                <key>sourceSize</key>
                <string>{58,78}</string>
            </dict>
            <key>alphaMEast2.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,80},{44,76}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{44,76}}</string>
                <key>sourceSize</key>
                <string>{58,78}</string>
            </dict>
            <key>alphaMEast3.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,78},{44,74}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{44,74}}</string>
                <key>sourceSize</key>
                <string>{58,78}</string>
            </dict>
            <key>alphaMEast4.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,2},{46,72}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{46,72}}</string>
                <key>sourceSize</key>
                <string>{58,78}</string>
            </dict>
            <key>alphaMEast5.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,152},{46,72}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{46,72}}</string>
                <key>sourceSize</key>
                <string>{58,78}</string>
            </dict>
            <key>alphaMEast6.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{44,74}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{44,74}}</string>
                <key>sourceSize</key>
                <string>{58,78}</string>
            </dict>
            <key>alphaMEast7.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{42,76}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{42,76}}</string>
                <key>sourceSize</key>
                <string>{58,78}</string>
            </dict>
            <key>alphaMNorth1.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,2},{40,72}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{40,72}}</string>
                <key>sourceSize</key>
                <string>{58,78}</string>
            </dict>
            <key>alphaMNorth2.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,2},{40,72}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{40,72}}</string>
                <key>sourceSize</key>
                <string>{58,78}</string>
            </dict>
            <key>alphaMNorth3.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,150},{42,72}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{42,72}}</string>
                <key>sourceSize</key>
                <string>{58,78}</string>
            </dict>
            <key>alphaMNorth4.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,2},{42,74}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{42,74}}</string>
                <key>sourceSize</key>
                <string>{58,78}</string>
            </dict>
            <key>alphaMNorth5.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,78},{42,74}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{42,74}}</string>
                <key>sourceSize</key>
                <string>{58,78}</string>
            </dict>
            <key>alphaMNorth6.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2},{42,74}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{42,74}}</string>
                <key>sourceSize</key>
                <string>{58,78}</string>
            </dict>
            <key>alphaMNorth7.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,150},{40,72}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{40,72}}</string>
                <key>sourceSize</key>
                <string>{58,78}</string>
            </dict>
            <key>alphaMNorthEastToEast1.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,158},{54,70}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{54,70}}</string>
                <key>sourceSize</key>
                <string>{58,78}</string>
            </dict>
            <key>alphaMNorthEastToEast2.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,158},{56,70}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{56,70}}</string>
                <key>sourceSize</key>
                <string>{58,78}</string>
            </dict>
            <key>alphaMNorthEastToEast3.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,162},{58,70}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{58,70}}</string>
                <key>sourceSize</key>
                <string>{58,78}</string>
            </dict>
            <key>alphaMNorthEastToEast4.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,162},{58,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{58,70}}</string>
                <key>sourceSize</key>
                <string>{58,78}</string>
            </dict>
            <key>alphaMNorthEastToEast5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{58,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{58,70}}</string>
                <key>sourceSize</key>
                <string>{58,78}</string>
            </dict>
            <key>alphaMNorthEastToEast6.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,158},{56,72}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{56,72}}</string>
                <key>sourceSize</key>
                <string>{58,78}</string>
            </dict>
            <key>alphaMNorthEastToEast7.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,158},{56,72}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{56,72}}</string>
                <key>sourceSize</key>
                <string>{58,78}</string>
            </dict>
            <key>alphaMNorthEastToNorth1.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,76},{46,70}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{46,70}}</string>
                <key>sourceSize</key>
                <string>{58,78}</string>
            </dict>
            <key>alphaMNorthEastToNorth2.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,154},{46,70}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{46,70}}</string>
                <key>sourceSize</key>
                <string>{58,78}</string>
            </dict>
            <key>alphaMNorthEastToNorth3.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,154},{48,70}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{48,70}}</string>
                <key>sourceSize</key>
                <string>{58,78}</string>
            </dict>
            <key>alphaMNorthEastToNorth4.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,154},{48,70}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{48,70}}</string>
                <key>sourceSize</key>
                <string>{58,78}</string>
            </dict>
            <key>alphaMNorthEastToNorth5.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{46,76}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{46,76}}</string>
                <key>sourceSize</key>
                <string>{58,78}</string>
            </dict>
            <key>alphaMNorthEastToNorth6.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,78},{46,72}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{46,72}}</string>
                <key>sourceSize</key>
                <string>{58,78}</string>
            </dict>
            <key>alphaMNorthEastToNorth7.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,154},{46,70}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{46,70}}</string>
                <key>sourceSize</key>
                <string>{58,78}</string>
            </dict>
            <key>alphaMSouth1.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,80},{40,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{40,76}}</string>
                <key>sourceSize</key>
                <string>{58,78}</string>
            </dict>
            <key>alphaMSouth2.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{40,76}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{40,76}}</string>
                <key>sourceSize</key>
                <string>{58,78}</string>
            </dict>
            <key>alphaMSouth3.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,80},{40,76}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{40,76}}</string>
                <key>sourceSize</key>
                <string>{58,78}</string>
            </dict>
            <key>alphaMSouth4.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,78},{38,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{38,74}}</string>
                <key>sourceSize</key>
                <string>{58,78}</string>
            </dict>
            <key>alphaMSouth5.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{38,76}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{38,76}}</string>
                <key>sourceSize</key>
                <string>{58,78}</string>
            </dict>
            <key>alphaMSouth6.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{40,76}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{40,76}}</string>
                <key>sourceSize</key>
                <string>{58,78}</string>
            </dict>
            <key>alphaMSouth7.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,80},{40,76}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{40,76}}</string>
                <key>sourceSize</key>
                <string>{58,78}</string>
            </dict>
            <key>alphaMSouthEastToEast1.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{40,76}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{40,76}}</string>
                <key>sourceSize</key>
                <string>{58,78}</string>
            </dict>
            <key>alphaMSouthEastToEast2.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,2},{40,78}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{40,78}}</string>
                <key>sourceSize</key>
                <string>{58,78}</string>
            </dict>
            <key>alphaMSouthEastToEast3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,78}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{42,78}}</string>
                <key>sourceSize</key>
                <string>{58,78}</string>
            </dict>
            <key>alphaMSouthEastToEast4.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,80},{44,76}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{44,76}}</string>
                <key>sourceSize</key>
                <string>{58,78}</string>
            </dict>
            <key>alphaMSouthEastToEast5.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{42,76}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{42,76}}</string>
                <key>sourceSize</key>
                <string>{58,78}</string>
            </dict>
            <key>alphaMSouthEastToEast6.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,82},{40,78}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{40,78}}</string>
                <key>sourceSize</key>
                <string>{58,78}</string>
            </dict>
            <key>alphaMSouthEastToEast7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{40,78}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{40,78}}</string>
                <key>sourceSize</key>
                <string>{58,78}</string>
            </dict>
            <key>alphaMSouthEastToSouth1.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,2},{42,72}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{42,72}}</string>
                <key>sourceSize</key>
                <string>{58,78}</string>
            </dict>
            <key>alphaMSouthEastToSouth2.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,76},{40,72}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{40,72}}</string>
                <key>sourceSize</key>
                <string>{58,78}</string>
            </dict>
            <key>alphaMSouthEastToSouth3.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,150},{38,72}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{38,72}}</string>
                <key>sourceSize</key>
                <string>{58,78}</string>
            </dict>
            <key>alphaMSouthEastToSouth4.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,148},{38,70}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{38,70}}</string>
                <key>sourceSize</key>
                <string>{58,78}</string>
            </dict>
            <key>alphaMSouthEastToSouth5.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,148},{38,70}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{38,70}}</string>
                <key>sourceSize</key>
                <string>{58,78}</string>
            </dict>
            <key>alphaMSouthEastToSouth6.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,76},{38,70}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{38,70}}</string>
                <key>sourceSize</key>
                <string>{58,78}</string>
            </dict>
            <key>alphaMSouthEastToSouth7.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,2},{40,72}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{40,72}}</string>
                <key>sourceSize</key>
                <string>{58,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>alpha.png</string>
            <key>size</key>
            <string>{1004,226}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb2416a1056dd9c18c617e7ae9061328$</string>
            <key>textureFileName</key>
            <string>alpha.png</string>
        </dict>
    </dict>
</plist>
