<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bombBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,331},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>joystickleft.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{326,327}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{326,327}}</string>
                <key>sourceSize</key>
                <string>{336,333}</string>
            </dict>
            <key>joystickmove.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,331},{109,108}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{109,108}}</string>
                <key>sourceSize</key>
                <string>{113,112}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>test.png</string>
            <key>size</key>
            <string>{330,441}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:14ee66efe9aa626c6f8871525692dad8$</string>
            <key>textureFileName</key>
            <string>test.png</string>
        </dict>
    </dict>
</plist>
