<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bigStar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{69,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,68}}</string>
                <key>sourceSize</key>
                <string>{69,68}</string>
            </dict>
            <key>gameOverTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{523,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{523,111}}</string>
                <key>sourceSize</key>
                <string>{523,111}</string>
            </dict>
            <key>gameOvewBackBt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{136,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameOverLayer.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c605621eb6bff9d340dad3af01cbb98d:ae61c2dcb95a62c9923e1157c1f97ad6:0c2c2b5d5d733f199a3a6d267c769cea$</string>
            <key>textureFileName</key>
            <string>gameOverLayer.png</string>
        </dict>
    </dict>
</plist>
