<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>backBt.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,859},{106,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,73}}</string>
                <key>sourceSize</key>
                <string>{106,73}</string>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{950,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{950,540}}</string>
                <key>sourceSize</key>
                <string>{950,540}</string>
            </dict>
            <key>boxHomeBt.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,859},{106,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,90}}</string>
                <key>sourceSize</key>
                <string>{108,90}</string>
            </dict>
            <key>boxRedPoint.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,2},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>musicBt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,935},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>star.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,2},{44,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,43}}</string>
                <key>sourceSize</key>
                <string>{44,43}</string>
            </dict>
            <key>starBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{389,72}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,72}}</string>
                <key>sourceSize</key>
                <string>{393,72}</string>
            </dict>
            <key>starFightingBt.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,544},{313,213}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{313,213}}</string>
                <key>sourceSize</key>
                <string>{315,215}</string>
            </dict>
            <key>userFilesBt.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,544},{313,213}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{313,213}}</string>
                <key>sourceSize</key>
                <string>{315,215}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>StarGameUI.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:67518d51e514756006ddc2e36b4f80ab:0c102460de2b0bd068a5545ece35797a:bcbf195c7d4af25d92822634a9a65d4b$</string>
            <key>textureFileName</key>
            <string>StarGameUI.png</string>
        </dict>
    </dict>
</plist>
