<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>backBt.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,76},{106,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,73}}</string>
                <key>sourceSize</key>
                <string>{106,73}</string>
            </dict>
            <key>boxHomeBt.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,2},{106,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,90}}</string>
                <key>sourceSize</key>
                <string>{108,90}</string>
            </dict>
            <key>boxRedPoint.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,94},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>musicBt.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,94},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>star.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,173},{44,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,43}}</string>
                <key>sourceSize</key>
                <string>{44,43}</string>
            </dict>
            <key>starBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{389,72}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,72}}</string>
                <key>sourceSize</key>
                <string>{393,72}</string>
            </dict>
            <key>starFightingBt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,291},{313,213}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{313,213}}</string>
                <key>sourceSize</key>
                <string>{315,215}</string>
            </dict>
            <key>userFilesBt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{313,213}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{313,213}}</string>
                <key>sourceSize</key>
                <string>{315,215}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>StarGameUI.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3890651504a6fbc070823e0447321acd:1/1$</string>
            <key>textureFileName</key>
            <string>StarGameUI.png</string>
        </dict>
    </dict>
</plist>
