<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mainMenu_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{950,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{950,540}}</string>
                <key>sourceSize</key>
                <string>{950,540}</string>
            </dict>
            <key>mainMenu_soundBt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,823},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>mainMenu_startBt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{277,141}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{277,141}}</string>
                <key>sourceSize</key>
                <string>{279,143}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MainMenuUI.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5be6f8fa997d7d92aedde37cf4834f65:3117bfd803c2e7575c80bc9826866455:20cc21d964cd4a56ad1de2e03cf7d4d4$</string>
            <key>textureFileName</key>
            <string>MainMenuUI.png</string>
        </dict>
    </dict>
</plist>
