<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Rocket.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{182,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,163}}</string>
                <key>sourceSize</key>
                <string>{182,163}</string>
            </dict>
            <key>RocketBullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,171},{132,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,77}}</string>
                <key>sourceSize</key>
                <string>{132,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CharacterWeapon.png</string>
            <key>size</key>
            <string>{190,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:49fd63215444660d6bdd4f2bd815b69f:1/1$</string>
            <key>textureFileName</key>
            <string>CharacterWeapon.png</string>
        </dict>
    </dict>
</plist>
