<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{90,654}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,76},{90,654}}</string>
                <key>sourceSize</key>
                <string>{308,808}</string>
            </dict>
            <key>00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,660},{84,658}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,72},{84,658}}</string>
                <key>sourceSize</key>
                <string>{308,808}</string>
            </dict>
            <key>00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,4},{84,658}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,72},{84,658}}</string>
                <key>sourceSize</key>
                <string>{308,808}</string>
            </dict>
            <key>00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,662},{84,638}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,92},{84,638}}</string>
                <key>sourceSize</key>
                <string>{308,808}</string>
            </dict>
            <key>00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,662},{84,644}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,86},{84,644}}</string>
                <key>sourceSize</key>
                <string>{308,808}</string>
            </dict>
            <key>00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,4},{76,618}}</string>
                <key>offset</key>
                <string>{-3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,112},{76,618}}</string>
                <key>sourceSize</key>
                <string>{308,808}</string>
            </dict>
            <key>00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,660},{56,512}}</string>
                <key>offset</key>
                <string>{-3,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,170},{56,512}}</string>
                <key>sourceSize</key>
                <string>{308,808}</string>
            </dict>
            <key>Electric00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,1176},{132,174}}</string>
                <key>offset</key>
                <string>{1,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,59},{132,174}}</string>
                <key>sourceSize</key>
                <string>{208,258}</string>
            </dict>
            <key>Electric00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,666},{162,182}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,48},{162,182}}</string>
                <key>sourceSize</key>
                <string>{208,258}</string>
            </dict>
            <key>Electric00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,4},{186,232}}</string>
                <key>offset</key>
                <string>{3,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,1},{186,232}}</string>
                <key>sourceSize</key>
                <string>{208,258}</string>
            </dict>
            <key>Electric00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,516},{140,174}}</string>
                <key>offset</key>
                <string>{6,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,58},{140,174}}</string>
                <key>sourceSize</key>
                <string>{208,258}</string>
            </dict>
            <key>Electric00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,194},{168,206}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,25},{168,206}}</string>
                <key>sourceSize</key>
                <string>{208,258}</string>
            </dict>
            <key>Electric00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,366},{146,210}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,20},{146,210}}</string>
                <key>sourceSize</key>
                <string>{208,258}</string>
            </dict>
            <key>Electric00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,852},{132,136}}</string>
                <key>offset</key>
                <string>{-1,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,93},{132,136}}</string>
                <key>sourceSize</key>
                <string>{208,258}</string>
            </dict>
            <key>Electric00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,988},{104,98}}</string>
                <key>offset</key>
                <string>{-6,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,127},{104,98}}</string>
                <key>sourceSize</key>
                <string>{208,258}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>electric.png</string>
            <key>size</key>
            <string>{502,1322}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ffa3833ba4a53e74a4885433f913ff0:1/1$</string>
            <key>textureFileName</key>
            <string>electric.png</string>
        </dict>
    </dict>
</plist>
