<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MatchGirlDie00.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,2},{130,140}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,109},{130,140}}</string>
                <key>sourceSize</key>
                <string>{400,370}</string>
            </dict>
            <key>MatchGirlDie01.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,640},{262,274}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,45},{262,274}}</string>
                <key>sourceSize</key>
                <string>{400,370}</string>
            </dict>
            <key>MatchGirlDie02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,640},{284,292}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,32},{284,292}}</string>
                <key>sourceSize</key>
                <string>{400,370}</string>
            </dict>
            <key>MatchGirlDie03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{332,318}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,15},{332,318}}</string>
                <key>sourceSize</key>
                <string>{400,370}</string>
            </dict>
            <key>MatchGirlDie04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{344,316}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,17},{344,316}}</string>
                <key>sourceSize</key>
                <string>{400,370}</string>
            </dict>
            <key>MatchGirlDie05.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,320},{332,310}}</string>
                <key>offset</key>
                <string>{6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,21},{332,310}}</string>
                <key>sourceSize</key>
                <string>{400,370}</string>
            </dict>
            <key>MatchGirlDie06.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{332,316}}</string>
                <key>offset</key>
                <string>{6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,19},{332,316}}</string>
                <key>sourceSize</key>
                <string>{400,370}</string>
            </dict>
            <key>MatchGirlDie07.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,632},{314,312}}</string>
                <key>offset</key>
                <string>{15,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,19},{314,312}}</string>
                <key>sourceSize</key>
                <string>{400,370}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MatchGirlDie.png</string>
            <key>size</key>
            <string>{886,947}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ff013a657e4aa7a5df197842031271b$</string>
            <key>textureFileName</key>
            <string>MatchGirlDie.png</string>
        </dict>
    </dict>
</plist>
