<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>backBt.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,386},{106,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,73}}</string>
                <key>sourceSize</key>
                <string>{106,73}</string>
            </dict>
            <key>bgContent_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,2},{950,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{950,326}}</string>
                <key>sourceSize</key>
                <string>{950,326}</string>
            </dict>
            <key>bgContent_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{382,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{382,305}}</string>
                <key>sourceSize</key>
                <string>{382,305}</string>
            </dict>
            <key>bgContent_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,386},{120,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,39}}</string>
                <key>sourceSize</key>
                <string>{120,39}</string>
            </dict>
            <key>boxBt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,393},{106,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,90}}</string>
                <key>sourceSize</key>
                <string>{108,90}</string>
            </dict>
            <key>boxRedPoint.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,434},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>bulletTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,382},{234,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{234,50}}</string>
                <key>sourceSize</key>
                <string>{236,50}</string>
            </dict>
            <key>bullet_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,330},{38,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,48}}</string>
                <key>sourceSize</key>
                <string>{38,48}</string>
            </dict>
            <key>bullet_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,386},{38,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,67}}</string>
                <key>sourceSize</key>
                <string>{38,67}</string>
            </dict>
            <key>bullet_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,386},{36,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,75}}</string>
                <key>sourceSize</key>
                <string>{36,75}</string>
            </dict>
            <key>plusBt.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,459},{134,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,51}}</string>
                <key>sourceSize</key>
                <string>{134,51}</string>
            </dict>
            <key>skillTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,330},{234,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{234,50}}</string>
                <key>sourceSize</key>
                <string>{236,50}</string>
            </dict>
            <key>skill_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,386},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>skill_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,386},{48,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,71}}</string>
                <key>sourceSize</key>
                <string>{48,71}</string>
            </dict>
            <key>skill_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,448},{51,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,60}}</string>
                <key>sourceSize</key>
                <string>{51,60}</string>
            </dict>
            <key>star.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,463},{44,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,43}}</string>
                <key>sourceSize</key>
                <string>{44,43}</string>
            </dict>
            <key>starBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{389,72}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,72}}</string>
                <key>sourceSize</key>
                <string>{393,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>userFilesScene.png</string>
            <key>size</key>
            <string>{2048,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:319c839d10d8e566d3f9ef393daa3e34:1/1$</string>
            <key>textureFileName</key>
            <string>userFilesScene.png</string>
        </dict>
    </dict>
</plist>
