<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ironman_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,976},{78,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,85}}</string>
                <key>sourceSize</key>
                <string>{78,85}</string>
            </dict>
            <key>Ironman_head_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,731},{119,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,108}}</string>
                <key>sourceSize</key>
                <string>{119,108}</string>
            </dict>
            <key>add_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,1810},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>back_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,1013},{137,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,137}}</string>
                <key>sourceSize</key>
                <string>{137,137}</string>
            </dict>
            <key>bomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,1642},{84,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,81}}</string>
                <key>sourceSize</key>
                <string>{84,81}</string>
            </dict>
            <key>bullet_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,1154},{132,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,59}}</string>
                <key>sourceSize</key>
                <string>{132,59}</string>
            </dict>
            <key>character_ small_content_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,4},{399,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{399,130}}</string>
                <key>sourceSize</key>
                <string>{399,130}</string>
            </dict>
            <key>character_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{1288,728}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1288,728}}</string>
                <key>sourceSize</key>
                <string>{1288,728}</string>
            </dict>
            <key>character_content_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1296},{868,601}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{868,601}}</string>
                <key>sourceSize</key>
                <string>{868,601}</string>
            </dict>
            <key>character_title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,731},{278,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,122}}</string>
                <key>sourceSize</key>
                <string>{278,122}</string>
            </dict>
            <key>electric.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,1554},{84,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,81}}</string>
                <key>sourceSize</key>
                <string>{84,81}</string>
            </dict>
            <key>electric_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,1217},{60,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,87}}</string>
                <key>sourceSize</key>
                <string>{60,87}</string>
            </dict>
            <key>freeze.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,1466},{84,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,81}}</string>
                <key>sourceSize</key>
                <string>{84,81}</string>
            </dict>
            <key>hp.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,4},{254,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,34}}</string>
                <key>sourceSize</key>
                <string>{254,34}</string>
            </dict>
            <key>hp_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,4},{271,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,53}}</string>
                <key>sourceSize</key>
                <string>{271,53}</string>
            </dict>
            <key>rifle.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,1378},{84,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,81}}</string>
                <key>sourceSize</key>
                <string>{84,81}</string>
            </dict>
            <key>rifle_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,1730},{57,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,76}}</string>
                <key>sourceSize</key>
                <string>{57,76}</string>
            </dict>
            <key>rocket.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,1290},{84,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,81}}</string>
                <key>sourceSize</key>
                <string>{84,81}</string>
            </dict>
            <key>rocket_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,386},{46,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,75}}</string>
                <key>sourceSize</key>
                <string>{46,75}</string>
            </dict>
            <key>shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,1065},{84,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,81}}</string>
                <key>sourceSize</key>
                <string>{84,81}</string>
            </dict>
            <key>skill_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,1154},{132,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,59}}</string>
                <key>sourceSize</key>
                <string>{132,59}</string>
            </dict>
            <key>skills_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,279},{103,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,100}}</string>
                <key>sourceSize</key>
                <string>{103,100}</string>
            </dict>
            <key>start_game_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,407},{320,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,181}}</string>
                <key>sourceSize</key>
                <string>{320,181}</string>
            </dict>
            <key>strat.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,854},{118,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,115}}</string>
                <key>sourceSize</key>
                <string>{118,115}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameUI.png</string>
            <key>size</key>
            <string>{981,1901}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f57afd4fdffbdaceb80e90f8cb026d16:1/1$</string>
            <key>textureFileName</key>
            <string>gameUI.png</string>
        </dict>
    </dict>
</plist>
