<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Alpha_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,66},{48,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,87}}</string>
                <key>sourceSize</key>
                <string>{48,87}</string>
            </dict>
            <key>Alpha_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,4},{58,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,87}}</string>
                <key>sourceSize</key>
                <string>{58,87}</string>
            </dict>
            <key>Alpha_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{54,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,88}}</string>
                <key>sourceSize</key>
                <string>{54,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Alpha.png</string>
            <key>size</key>
            <string>{153,118}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:350d4f42c92df53772b93f3cb8ac7992:1/1$</string>
            <key>textureFileName</key>
            <string>Alpha.png</string>
        </dict>
    </dict>
</plist>
