<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BombEffect0.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1190},{139,139}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,47},{139,139}}</string>
                <key>sourceSize</key>
                <string>{233,233}</string>
            </dict>
            <key>BombEffect1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,790},{195,209}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,12},{195,209}}</string>
                <key>sourceSize</key>
                <string>{233,233}</string>
            </dict>
            <key>BombEffect2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,989},{207,197}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,17},{207,197}}</string>
                <key>sourceSize</key>
                <string>{233,233}</string>
            </dict>
            <key>BombEffect3.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{221,215}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{221,215}}</string>
                <key>sourceSize</key>
                <string>{233,233}</string>
            </dict>
            <key>BombEffect4.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,223},{221,185}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{221,185}}</string>
                <key>sourceSize</key>
                <string>{233,233}</string>
            </dict>
            <key>BombEffect5.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,412},{217,185}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,24},{217,185}}</string>
                <key>sourceSize</key>
                <string>{233,233}</string>
            </dict>
            <key>BombEffect6.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,601},{215,185}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,24},{215,185}}</string>
                <key>sourceSize</key>
                <string>{233,233}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BombEffect.png</string>
            <key>size</key>
            <string>{229,1333}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dcf7de69e8199601745fda265372b14a:1/1$</string>
            <key>textureFileName</key>
            <string>BombEffect.png</string>
        </dict>
    </dict>
</plist>
