<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BombEffect000.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,297},{140,131}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{140,131}}</string>
                <key>sourceSize</key>
                <string>{154,145}</string>
            </dict>
            <key>BombEffect001.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{146,143}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{146,143}}</string>
                <key>sourceSize</key>
                <string>{154,145}</string>
            </dict>
            <key>BombEffect002.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,154},{140,139}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{140,139}}</string>
                <key>sourceSize</key>
                <string>{154,145}</string>
            </dict>
            <key>BombEffect003.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,432},{148,139}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{148,139}}</string>
                <key>sourceSize</key>
                <string>{154,145}</string>
            </dict>
            <key>BombEffect004.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,584},{136,133}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{136,133}}</string>
                <key>sourceSize</key>
                <string>{154,145}</string>
            </dict>
            <key>BombEffect005.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,721},{120,103}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,17},{120,103}}</string>
                <key>sourceSize</key>
                <string>{154,145}</string>
            </dict>
            <key>BombEffect006.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,828},{114,89}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,25},{114,89}}</string>
                <key>sourceSize</key>
                <string>{154,145}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BombEffect.png</string>
            <key>size</key>
            <string>{151,921}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:078d4e7a1f7329556090207ce50fddea:1/1$</string>
            <key>textureFileName</key>
            <string>BombEffect.png</string>
        </dict>
    </dict>
</plist>
