<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>freeze000.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1566},{114,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,133}}</string>
                <key>sourceSize</key>
                <string>{114,133}</string>
            </dict>
            <key>freeze_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,870},{212,178}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,43},{212,178}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>freeze_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,654},{212,178}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,44},{212,178}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>freeze_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,438},{212,178}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,44},{212,178}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>freeze_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,222},{212,178}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,43},{212,178}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>freeze_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{214,178}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,44},{214,178}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>freeze_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1326},{236,168}}</string>
                <key>offset</key>
                <string>{-12,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,44},{236,168}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>freeze_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1086},{236,176}}</string>
                <key>offset</key>
                <string>{-18,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,49},{236,176}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>freeze.png</string>
            <key>size</key>
            <string>{186,1684}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5dcbd8c948de853519b289b54a3e630d:1/1$</string>
            <key>textureFileName</key>
            <string>freeze.png</string>
        </dict>
    </dict>
</plist>
