<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>controLayerUI_bulletBt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,92},{130,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,88}}</string>
                <key>sourceSize</key>
                <string>{130,88}</string>
            </dict>
            <key>controLayerUI_bulletBt_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,2},{88,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,89}}</string>
                <key>sourceSize</key>
                <string>{88,89}</string>
            </dict>
            <key>controLayerUI_bulletBt_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{133,129}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{133,129}}</string>
                <key>sourceSize</key>
                <string>{139,131}</string>
            </dict>
            <key>controLayerUI_skillBt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,287},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>controLayerUI_skillBt_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,224},{48,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,71}}</string>
                <key>sourceSize</key>
                <string>{48,71}</string>
            </dict>
            <key>controLayerUI_skillBt_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,274},{51,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,60}}</string>
                <key>sourceSize</key>
                <string>{51,60}</string>
            </dict>
            <key>controlLayerUI_crossStickBt.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,274},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>controlLayerUI_crossStick_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{153,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,152}}</string>
                <key>sourceSize</key>
                <string>{153,152}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>controlLayerUI.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3026e2abaaefc459c07c2c346fb4fc7:9fc16cee253109bb3785d9cbfae300aa:b1f72def5d8db9ddfd95c142ae6e080b$</string>
            <key>textureFileName</key>
            <string>controlLayerUI.png</string>
        </dict>
    </dict>
</plist>
